body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Verhindert, dass der Hintergrund scrollt */
  background-position: center;
  min-height: 100vh; /* stellt sicher, dass der Hintergrund mindestens die volle Höhe bedeckt */
}

h1 {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 28px auto 20px;
}

select {
  display: block;
  cursor: pointer;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 18px auto 20px;
  appearance: none;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
}

select option {
  direction: ltr;
  text-align: left;
}

button {
  display: block;
  margin: 10px auto 0px auto;
  background: none;
  border: none;
  font-size: 28px; /* Größe des Symbols */
  cursor: pointer;
  color: rgb(231, 231, 231);
  position: relative;
}

button:active {
  color: #a9bbe4;
}

footer {
  display: block;
  text-align: center;
  padding: 20px 0px 15px 0px;
  font-family: "Nunito Sans", sans-serif;
  color: rgba(255, 255, 255, 0.737);
}

a {
  color: rgb(194, 193, 193);
  font-weight: 200;
  text-decoration: none;
}

.content-container {
  transform: scale(0.85); /* hier z.B. 90% der Originalgröße */
  transform-origin: top center;
  width: 100%;
  margin: 0 auto;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px;
  gap: 0px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: rgba(251, 250, 250, 0.212);
}

.grid-container-change {
  padding: 0px;
  gap: 0px;
  max-width: 350px;
  margin: 0 auto;
  background-color: rgba(251, 250, 250, 0.212);
}

.grid-item {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 350px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: border 0.3s ease-in-out;
}

.grid-item:hover {
  border: 2px solid white;
}

#tokyo {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Tokyo_small.jpg?raw=true");
  background-position: left center;
}
#rome {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Rome_small.jpg?raw=true");
  background-position: 30% center;
}
#london {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/London_small.jpg?raw=true");
  background-position: 70% center;
}
#sydney {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Sydney_small.jpg?raw=true");
  background-position: right center;
}
#los-angeles {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/LA_small.jpg?raw=true");
}

#Bangkok {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Bangkok_small.jpg?raw=true");
}

#New_York {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/New%20York_small%20(2).jpg?raw=true");
}

#Paris {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Paris%20(2)_small.jpg?raw=true");
  background-position: 55% center;
}

#Casablanca {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Casablanca_small.jpg?raw=true");
}

#Auckland {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Auckland_small.jpg?raw=true");
}

#user-location {
  background-image: url("https://github.com/Katrinfelina/world-clock/blob/main/media/Location_small.jpg?raw=true");
}

*/ .span {
  display: block;
}

.city-name {
  font-family: "Antonio", sans-serif;
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  top: 85px;
}

.continent {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  top: 90px;
}

.time {
  font-family: "Antonio", sans-serif;
  font-size: 64px;
  font-weight: 200;
  position: relative;
  top: 240px;
}
.utc {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  top: 250px;
}

.date {
  font-family: "Antonio", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  top: 475px;
}
